MONGODB_URL=mongodb+srv://sems_user:l61aYxpaTAZzVZsK@sems-cluster.vmdntbg.mongodb.net/?appName=SEMS-Cluster
MONGODB_DATABASE=energy_monitoring_db
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=energy-monitoring-group
KAFKA_TOPIC_READING_INGEST=monitoring.reading.ingest
KAFKA_TOPIC_ANOMALY_DETECTED=analytics.anomaly.detected
KAFKA_TOPIC_ALERT_CREATED=monitoring.alert.created
KAFKA_TOPIC_READING_PROCESSED=monitoring.reading.processed
APP_HOST=0.0.0.0
APP_PORT=8001
APP_ENV=development
