
SERVICE_NAME=<service_name>
CONFIG_SERVICE_URL=<config_service_url>

# Secrets / deployment-specific values
MONGODB_URL=mongodb+srv://<mongodb_user>:<mongodb_password>@<mongodb_cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<app_name>
KAFKA_SASL_USERNAME=<kafka_username>
KAFKA_SASL_PASSWORD=<kafka_password>

# Local fallbacks if Config Service is unavailable
MONGODB_DATABASE=<mongodb_database>
KAFKA_BOOTSTRAP_SERVERS=<kafka_bootstrap_servers>
KAFKA_GROUP_ID=<kafka_group_id>
KAFKA_TOPIC_READING_INGEST=<kafka_topic_reading_ingest>
KAFKA_TOPIC_ANOMALY_DETECTED=<kafka_topic_anomaly_detected>
KAFKA_TOPIC_ALERT_CREATED=<kafka_topic_alert_created>
KAFKA_TOPIC_READING_PROCESSED=<kafka_topic_reading_processed>
KAFKA_SECURITY_PROTOCOL=<kafka_security_protocol>
KAFKA_SASL_MECHANISM=<kafka_sasl_mechanism>
APP_HOST=<app_host>
APP_PORT=<app_port>
APP_ENV=<app_env>
API_BASE_PATH=<api_base_path>
CORS_ALLOW_ORIGINS=<cors_allow_origins_csv>


