MONGODB_URL=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=SEMS
MONGODB_DATABASE=energy_monitoring_db
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=energy-monitoring-group
KAFKA_TOPIC_READING_INGEST=monitoring.reading.ingest
KAFKA_TOPIC_ANOMALY_DETECTED=analytics.anomaly.detected
KAFKA_TOPIC_ALERT_CREATED=monitoring.alert.created
KAFKA_TOPIC_READING_PROCESSED=monitoring.reading.processed
APP_HOST=0.0.0.0
APP_PORT=8001
APP_ENV=development
