# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.env.local
.env.*.local
.env.local-kafka
.env.azure-eventhubs
*.egg
*.egg-info/
dist/
build/

# IDE
.vscode/

# Logs
*.log

# Test
.pytest_cache/
.coverage
htmlcov/
